<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Admin</title>
</head>
<body>
    <h2>Tableau de Bord Admin</h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('admin_livres') }}">Gérer les Livres</a></li>
            <li><a href="{{ url_for('admin_utilisateurs') }}">Gérer les Utilisateurs</a></li>
            <li><a href="{{ url_for('admin_emprunts') }}">Vérifier les Emprunts</a></li>
            <li><a href="{{ url_for('logout') }}">Se Déconnecter</a></li>
        </ul>
    </nav>
</body>
</html>
