{% extends "layout.html" %}
{% block content %}
<h1>Emprunter un Livre</h1>
<form method="POST">
    <div>
        <label for="user_id">Utilisateur :</label>
        <select id="user_id" name="user_id" required>
            {% for user in users %}
            <option value="{{ user[0] }}">{{ user[1] }} {{ user[2] }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="book_id">Livre :</label>
        <select id="book_id" name="book_id" required>
            {% for book in books %}
            <option value="{{ book[0] }}">{{ book[1] }} - {{ book[2] }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Emprunter</button>
</form>
{% endblock %}
