<!-- gestion_livres.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Livres</title>
</head>
<body>
    <h1>Gestion des Livres</h1>
    <a href="{{ url_for('add_book') }}">Ajouter un Livre</a>
    <h2>Liste des Livres</h2>
    <ul>
        {% for book in books %}
        <li>{{ book['title'] }} de {{ book['author'] }} - Genre: {{ book['genre'] }} ({{ book['available'] }} disponibles)</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('admin_home') }}">Retour à l'accueil</a>
</body>
</html>
