<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
</head>
<body>
    <header>
        <nav>
            <a href="/add_book/">Ajouter un Livre</a> |
            <a href="/delete_book/">Supprimer un Livre</a> |
            <a href="/search_books/">Rechercher un Livre</a> |
            <a href="/borrow_book/">Emprunter un Livre</a> |
            <a href="/manage_users/">Gestion des Utilisateurs</a> |
            <a href="/manage_stock/">Gestion des Stocks</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
