{% extends "layout.html" %}
{% block content %}
<h1>Liste des Livres Disponibles</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Genre</th>
        <th>Année</th>
        <th>Stock</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book[0] }}</td>
        <td>{{ book[1] }}</td>
        <td>{{ book[2] }}</td>
        <td>{{ book[3] }}</td>
        <td>{{ book[4] }}</td>
        <td>{{ book[5] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
