<!-- page_livres.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher les Livres</title>
</head>
<body>
    <h1>Liste des Livres Disponibles</h1>
    <ul>
        <!-- Les livres seront affichés ici dynamiquement -->
        {% for book in books %}
        <li>{{ book['title'] }} de {{ book['author'] }} - {{ book['genre'] }} ({{ book['available'] }} disponibles)</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('user_home') }}">Retour à l'accueil</a>
</body>
</html>
