<!-- page_livres.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher les Livres</title>
</head>
<body>
    <h1>Liste des Livres Disponibles</h1>
    <ul>
        {% for book in books %}
        <li>{{ book['title'] }} de {{ book['author'] }} - {{ book['genre'] }} ({{ book['available'] }} disponibles)
            <!-- Bouton pour emprunter un livre -->
            <form action="{{ url_for('borrow_book', book_id=book['id']) }}" method="POST">
                <button type="submit" {% if book['available'] == 0 %}disabled{% endif %}>Emprunter</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('user_home') }}">Retour à l'accueil</a>
</body>
</html>
