<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Livres</title>
</head>
<body>
    <h1>Rechercher un Livre</h1>
    <form action="/recherche" method="GET">
        <label for="titre">Titre :</label>
        <input type="text" name="titre" id="titre"><br><br>

        <label for="auteur">Auteur :</label>
        <input type="text" name="auteur" id="auteur"><br><br>

        <button type="submit">Rechercher</button>
    </form>

    <div>
        <!-- Résultats de recherche des livres -->
        {% if livres %}
            <h2>Résultats :</h2>
            <ul>
            {% for livre in livres %}
                <li>{{ livre.titre }} - {{ livre.auteur }} ({{ livre.annee_publication }})</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
