import sqlite3

connection = sqlite3.connect('database.db')

with connection:
    connection.execute("DROP TABLE IF EXISTS Users;")
    connection.execute("""
        CREATE TABLE Users (
            UserID INTEGER PRIMARY KEY,
            FirstName TEXT NOT NULL,
            LastName TEXT NOT NULL,
            Email TEXT UNIQUE NOT NULL,
            PasswordHash TEXT NOT NULL,
            DateCreated DATETIME DEFAULT CURRENT_TIMESTAMP
        );
    """)
    connection.executemany("""
        INSERT INTO Users (FirstName, LastName, Email, PasswordHash) VALUES (?, ?, ?, ?);
    """, [
        ('Emilie', 'Dupont', 'emilie.dupont@example.com', 'hashed_password_1'),
        ('Lucas', 'Leroux', 'lucas.leroux@example.com', 'hashed_password_2'),
        ('Amandine', 'Martin', 'amandine.martin@example.com', 'hashed_password_3'),
        ('Antoine', 'Tremblay', 'antoine.tremblay@example.com', 'hashed_password_4'),
        ('Sarah', 'Lambert', 'sarah.lambert@example.com', 'hashed_password_5')
    ])

connection.close()
