<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Utilisateur</title>
</head>
<body>
    <h2>Bienvenue sur la bibliothèque</h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('user_livres') }}">Voir les Livres</a></li>
            <li><a href="{{ url_for('user_livres_empruntes') }}">Mes Emprunts</a></li>
            <li><a href="{{ url_for('logout') }}">Se Déconnecter</a></li>
        </ul>
    </nav>
</body>
</html>
